<div class="container-fluid">

  <div id="login"class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button-login" class="btn btn-outline-primary" routerLink="login">Ingresar</button>
  </div>

  <div id="principal">
    <div id="tituloPrincipal">
      <h1>Laboratorio de Simulación Dinámica Molecular</h1>
    </div>

    <nav id="nav" class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">

        <div class="collapse navbar-collapse justify-content-center" id="nav-ul">
          <ul class="navbar-nav mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link " routerLink="**">Tema</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Codigos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Documentación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Programación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Encargados</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>





</div>



