<div class="container-fluid">
  <div class="content">
    <div class="main-content-nav">
      <div class="titulo">
        <h3>Laboratorio de Simulación de Dinámica Molecular</h3>
      </div>

      <div class="user-info">
        <fa-icon class="icono" [icon]="userIcon" (click)="verificar()" ></fa-icon>
        <div *ngIf="isAuthenticated; else loginButtons">
          <b (click)="logout()">Cerrar Sesión</b>
        </div>
        <ng-template #loginButtons>
          <b routerLink="/Login">Iniciar Sesión</b>
        </ng-template>
      </div>




    </div>

    </div>


  </div>




