.container-fluid{
  padding-left: 0;
  padding-right: 0;

}



.content {

  .main-content-nav{
      padding: 10px;
      width: 100%;
      background: rgba(74, 110, 176, 0);
      display: grid;
      grid-template-areas:
      " - - titulo icono";



      .titulo{
        grid-area: titulo;
        display: flex;
        justify-content: center;
          h3{

          }
      }

      .user-info{
          grid-area: icono;
          color: rgb(77, 76, 76);
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .icono{
            margin: 0em 0.5em 0em 0em;
            cursor: pointer;
            padding: 0.3em;
            transition: all 0.3s ease-in-out;
          }
          .icono:hover{
            border: 1px solid rgb(0, 0, 0);
            box-shadow: 4px 4px 20px rgb(153, 147, 147);
            border-radius: 5px;
            color: black;
          }
          b{
            margin: 0em 2em 0em 0.5em;
            cursor: pointer;
            padding: 0.2em;
            transition: all 0.3s ease-in-out;
          }
          b:hover{
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            box-shadow: 4px 4px 20px rgb(153, 147, 147);
            color: black;
          }
      }

  }
}









