.container-fluid{
  padding-left: 0;
  padding-right: 0;
}



.content {

  .main-content-nav{
      padding: 10px;
      width: 100%;
      background-color: rgb(93, 90, 90);
      display: grid;
      grid-template-columns: 90% 10%;
      align-items: center;

      h3{
        padding-left: 35%;
      }
      .user-info{
          color: white;
          display: grid;
          grid-template-columns: 20% 10%;
          align-items: center;
      }
      b{
        padding-left: 0;
        padding-right: 0;
      }
  }
}









