<div class="container-fluid">
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <a href="https://nanobiophysics.cl"><img src="assets/nnbp.png" alt="nnbp"></a>
        <a href="https://advance.uss.cl/"><img src="assets/Logo_Universidad_san_sebastian.png" alt="San sebastian"></a>
        <a href="https://uv.cl/"><img src="assets/logo_UV.png" alt="UV"></a>
        <a href="https://cienciavida.org/"><img src="assets/FCyV.png" alt="FCyV"></a>
      </div>
      <div class="footer-links">
        <a href="#">Inicio</a>
        <a href="https://nanobiophysics.cl">Acceso a Nucleo</a>
        <a routerLink="Nosotros">Acerca de nosotros</a>
        <a href="mailto:fabian.orellana@postgrado.uv.cl" alt="fabian.orellana@postgrado.uv.cl">Correo de contacto</a>
      </div>
    </div>
  </footer>


</div>




