
.container-fluid{
  display: flex;
  overflow-y: scroll ;
  flex-wrap: wrap;
  max-height: 100%;
  justify-content: space-evenly;



  .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35em;
  border: 3px solid black;
  min-width:  30em;
  margin: 1.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em ;
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);


  h4{
    margin: 0.5em 1em 0.5em 1em;
    max-width: 20em;

  }
    .box-1{
      border-top: 1px solid black;
      max-height:30em;
      margin: 0em 0em 1em 0em;
      border-bottom: 1px solid black;

      .scroll{
        overflow: scroll;
        max-height:20em;
        padding: 0em 4em 0em 4em;
        margin-top: 0.5em;
        margin-bottom: 1em;

        p{
          text-align: justify;
        }

      }
    }
    .link{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0em 4em 0.5em 4em;

        a{
          padding-bottom: 1em;
        }

    }


    //SCROLL STYLES

    .scroll::-webkit-scrollbar{
      width: 8px;     /* Tamaño del scroll en vertical */
      height: 8px;    /* Tamaño del scroll en horizontal */
    }

    .scroll::-webkit-scrollbar-thumb{
      background: #ccc;
      border-radius: 4px;
    }

    .scroll::-webkit-scrollbar-thumb:hover{
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }


    .scroll::-webkit-scrollbar-thumb:active{
      background-color: #999999;

    }

    .scroll::-webkit-scrollbar-track:hover,
    .scroll::-webkit-scrollbar-track:active {
    background: transparent;
    }
  }
}


//SCROLL STYLES

.container-fluid::-webkit-scrollbar{
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

.container-fluid::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 4px;
}

.container-fluid::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.container-fluid::-webkit-scrollbar-thumb:active{
  background-color: #999999;

}

.container-fluid::-webkit-scrollbar-track:hover,
.container-fluid::-webkit-scrollbar-track:active {
background: transparent;
}


