<div class="container-fluid">
  <div class="box">

    <h4> Aqui ira el titulo del tema </h4>

    <ul>
      <li>
          <p>nombre subtema</p>
          <a href="referencia a una pagina">Link</a>  <!--debes mostarse desde la bd ... en TS aplicar consulta para que devuelva el link de la tabla temas de cada subtema -->
          <a href="referencia a una pagina">Link</a> <!--puede ser mas de un link del mismo subtema -->
        </li>
      <li>
        <p>nombre</p>
        <a href="referencia a una pagina">Link</a>
    </li>
    <li>
      <p>nombre</p>
      <a href="referencia a una pagina">Link</a>
    </li>
    </ul>
  </div>
  <div class="box">

    <h4> Aqui ira el titulo del tema </h4>

    <ul>
      <li>
          <p>nombre subtema</p>
          <a href="referencia a una pagina">Link</a>  <!--debes mostarse desde la bd ... en TS aplicar consulta para que devuelva el link de la tabla temas de cada subtema -->
          <a href="referencia a una pagina">Link</a> <!--puede ser mas de un link del mismo subtema -->
        </li>
      <li>
        <p>nombre</p>
        <a href="referencia a una pagina">Link</a>
    </li>
    <li>
      <p>nombre</p>
      <a href="referencia a una pagina">Link</a>
    </li>
    </ul>
  </div>
  <div class="box">

    <h4> Aqui ira el titulo del tema </h4>

    <ul>
      <li>
          <p>nombre subtema</p>
          <a href="referencia a una pagina">Link</a>  <!--debes mostarse desde la bd ... en TS aplicar consulta para que devuelva el link de la tabla temas de cada subtema -->
          <a href="referencia a una pagina">Link</a> <!--puede ser mas de un link del mismo subtema -->
        </li>
      <li>
        <p>nombre</p>
        <a href="referencia a una pagina">Link</a>
    </li>
    <li>
      <p>nombre</p>
      <a href="referencia a una pagina">Link</a>
    </li>
    </ul>
  </div>
  <div class="box">

    <h4> Aqui ira el titulo del tema </h4>

    <ul>
      <li>
          <p>nombre subtema</p>
          <a href="referencia a una pagina">Link</a>  <!--debes mostarse desde la bd ... en TS aplicar consulta para que devuelva el link de la tabla temas de cada subtema -->
          <a href="referencia a una pagina">Link</a> <!--puede ser mas de un link del mismo subtema -->
        </li>
      <li>
        <p>nombre</p>
        <a href="referencia a una pagina">Link</a>
    </li>
    <li>
      <p>nombre</p>
      <a href="referencia a una pagina">Link</a>
    </li>
    </ul>
  </div>
  <div class="box">

    <h4> Aqui ira el titulo del tema </h4>

    <ul>
      <li>
          <p>nombre subtema</p>

          <a href="referencia a una pagina">nombre a lo que lleva  (link)</a>  <!--debes mostarse desde la bd ... en TS aplicar consulta para que devuelva el link de la tabla temas de cada subtema -->
          <a href="referencia a una pagina">Link</a> <!--puede ser mas de un link del mismo subtema -->
        </li>
      <li>
        <p>nombre</p>
        <a href="referencia a una pagina">Link</a>
    </li>
    <li>
      <p>nombre</p>
      <a href="referencia a una pagina">Link</a>
    </li>
    </ul>
  </div>


</div>



