
.container-fluid{
  display: flex;
  overflow-y: scroll ;
  flex-wrap: wrap;
  max-height: 100%;
  justify-content: space-evenly;
}

.container-fluid::-webkit-scrollbar{
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

.container-fluid::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 4px;
}

.container-fluid::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


.container-fluid::-webkit-scrollbar-thumb:active{
  background-color: #999999;

}

.container-fluid::-webkit-scrollbar-track:hover,
.container-fluid::-webkit-scrollbar-track:active {
background: transparent;
}



.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
  border: 3px solid black;
  max-width:  30em;
  margin: 1.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em ;
  box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.75);

  h4{
    margin: 1em 1em 1em 1em;
    border-bottom: 1px solid black;
    max-width: 12em;


  }
    .box-1{

      max-height:30em;
      overflow-y: scroll;
      padding:0;
      margin: 0em 0em 1em 0em;
      ul{
        list-style-type: none;
        margin: 1em 2em 0em 0em;


        li{
          border: 3px solid black;
          margin-bottom: 1.5em;
          padding-left: 1em ;
          padding-right: 1em ;
          width: 25em;

          p{
            margin-top: 0.5em ;
          }
          .link{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            a{
              padding-bottom: 1em;
              margin: 0em 0.5em 0.5em 0.5em;
            }
          }

        }

      }
      ul{
        list-style-type: none;
        margin: 1em 2em 0em 0em;


        li{
          border: 3px solid black;
          margin-bottom: 1.5em;
          padding-left: 1em ;
          padding-right: 1em ;
          width: 25em;

          p{
            margin-top: 0.5em ;
          }
          .link{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            a{
              padding-bottom: 1em;
              margin: 0em 0.5em 0.5em 0.5em;
            }
          }

        }

      }
    }
    .box-1::-webkit-scrollbar{
      width: 8px;     /* Tamaño del scroll en vertical */
      height: 8px;    /* Tamaño del scroll en horizontal */
    }

    .box-1::-webkit-scrollbar-thumb{
      background: #ccc;
      border-radius: 4px;
    }

    .box-1::-webkit-scrollbar-thumb:hover{
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }


    .box-1::-webkit-scrollbar-thumb:active{
      background-color: #999999;

    }

    .box-1::-webkit-scrollbar-track:hover,
    .box-1::-webkit-scrollbar-track:active {
    background: transparent;
    }
}


