
h1{
  padding: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  font-family: Times New Roman, arial;

  margin: 0;
}

.bloquePrincipal{
max-width: 100%;
max-height: 100%;

}

#caja{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 700px;

}
form{
  max-width: 50%;
  width: 600px;

}
 input, span{
  margin: 1%;
}

select{
  margin: 1%;
  margin-bottom: 5%;
}
