<div class="container-fluid">
  <div class="box" *ngFor="let itemPubli  of publi" >
    <div class="head">
      <h4 > {{itemPubli.Nombre}} </h4> <!--PONER EL ACCESO PARA EL ELEMENTO-->
      <button [routerLink]="['/PubliOpen',itemPubli.id]" routerLinkActive="router-link-active" >Ver Publicación</button>
    </div>
    <img src="/assets/prueba.png" alt="AQUI VA LA IMG">

      <div class="body"> <!--MOSTAR EL ABSTRAC O RESUMEN  // DE SER ASI HAY QUE REESTRUCTURAR EL AGREGAR-->
      <p>
        {{itemPubli.Cuerpo}}
      </p>
      </div>

        <div class="box-1">
          <ul>
            <li>
              <p>{{itemPubli.Autor}}</p>
            </li>
            <li>
              <p>{{itemPubli.Fecha}}</p>
            </li>
           
          </ul>

        </div>

  </div>

  

</div>
