

#secciones{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;

}

#Tema{
  h4{
    margin: 10%
  }
  display: flex;
  width: 20%;
  border-radius: 25px;
  background: #9CD2D3;
  flex-direction: column;
  align-items: center;
  font-family: Times New Roman, arial
}

#subtema{

  p{
    padding-bottom: 5%;
  }


}
