.container-fluid{
  display: flex;
  overflow-y: scroll ;
  flex-wrap: wrap;
  max-height: 100%;
  justify-content: space-evenly;
}

.container-fluid::-webkit-scrollbar{
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

.container-fluid::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 4px;
}

.container-fluid::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


.container-fluid::-webkit-scrollbar-thumb:active{
  background-color: #999999;

}

.container-fluid::-webkit-scrollbar-track:hover,
.container-fluid::-webkit-scrollbar-track:active {
background: transparent;
}

.box{
  max-width: 30em;
  min-width: 25em;
  max-height: 35em;
  border: 3px solid black;
  margin: 3em;
  border-radius: 0.5em 0.5em 0.5em 0.5em ;
  box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  flex-direction: column;

  h4{
    margin: 1em 1em 1em 2em;
    max-width: 12em;

  }

  ul{
    list-style-type: none;
    margin-top: 1em;
    overflow: hidden;
    border: 3px double black;
    padding: 0.5em;
    width: 20em;
    li{
      display: flex;
      justify-content: center;
      p{
        max-width: 12em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }

  span{
    margin: 1em 1em 1.5em 1em;
    border: 0.5px solid black;
    &:hover{
      border: 0.5px solid rgba(0, 0, 0, 0);
      box-shadow: 2px 2px 10px rgb(153, 147, 147);
  }
  }

}


.modal-content{
  min-width: 30vw;
  max-width: 100%;
 .modal-header{
   display: grid;
    grid-template-areas:
    "- titulo boton";
   h4{
    grid-area: titulo;

   }
   button{
    grid-area: boton;
   }
 }
 .modal-body{
   text-align: justify;
   p{
     font: small-caps 100%/100% serif;
   }
 }

}
