
<div class="container-fluid" >
  <div id="secciones"> <!--ASIGNAR MEDIANTE JS EL AGREGRAR DIV PARA GESTIONAR LOS TEMAS-->
        <div id="Tema" >
          <h4>
            Tema1
          </h4>
          <div id="subtema">
              <p>subtemas</p>
              <p>subtemas</p>
              <p>subtemas</p>
          </div>
        </div>

        <div id="Tema" >
          <h4>
            Tema2
          </h4>
          <div id="subtema">
              <p>subtemas</p>
              <p>subtemas</p>
              <p>subtemas</p>
          </div>
        </div>

        <div id="Tema" >
          <h4>
            Tema3
          </h4>
          <div id="subtema">
              <p>subtemas</p>
              <p>subtemas</p>
              <p>subtemas</p>
          </div>
        </div>
  </div>

</div>

