<div class="container-fluid">
  <div class="box" *ngFor="let tema of temas">
    <h4> {{tema.Nombre}} </h4>

    <div *ngFor="let item of subtemas">
      <div *ngIf="item.id_tema === tema.idTema">
        <p  [routerLink]="['/Subtema',item.idSubtema]" routerLinkActive="router-link-active">{{item.Nombre}}</p>
      </div>
     
    </div>

    <button  type="button" class="btn" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + tema.idTema" >Ver todos</button>

    <div class="modal fade" [id]="'exampleModal' + tema.idTema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{tema.Nombre}}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body" *ngFor="let item of subtemas;">
            <div *ngIf="item.id_tema === tema.idTema">
              <p [routerLink]="['/Subtema',item.idSubtema]" data-bs-dismiss="modal">{{item.Nombre}}</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

