<div class="container-fluid">
  <div class="box" *ngFor="let item of publi" >
    <div class="head">
      <img src="/assets/prueba.png" alt="AQUI VA LA IMG">
      <ul>
        <li>
          <h4> {{item.Nombre}} </h4>
        </li>
          <li>
            <p>{{item.Autor}}</p>
          </li>
          <li>
            <p>{{item.Fecha}}</p>
          </li>
      </ul>
    </div>
    <ul>
      <li class="body">
        <p >
            {{item.Body}}
        </p>

        </li>

      <li class="link">

          <a [href]="item.Link">{{item.Link}}</a>
          <a [href]="item.Referencia">{{item.Referencia}}</a>

      </li>
    </ul>
  </div>



</div>
