<div class="container-fluid">

  <i class="fas fa-arrow-left fa-lg" routerLink="/Publicacion"></i>

  <div class="box" *ngFor="let item of publi" >
    <div class="head">
      <img src="../{{item.imagen}}" alt="AQUI VA LA IMG">
      <ul>
        <li>
          <h4> {{item.Nombre}} </h4>
        </li>
          <li>
            <p>{{item.Autor}}</p>
          </li>
          <li>
            <p>{{item.Fecha}}</p>
          </li>
      </ul>
    </div>
    <div class="body">
        <p >
            {{item.Body}}
        </p>

    </div>
    <div class="link">
        <a [href]="item.Link">{{item.Link}}</a>
        <a [href]="item.Referencia">{{item.Referencia}}</a>
    </div>
  </div>
</div>
