i{
  font-size: 3em;
  margin: 0.3em;
  cursor:pointer;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
i:hover{
  color: rgba(41, 185, 229, 0.503);

}




.custom-form {
  width: 55%;
  background: rgba(255, 255, 255, 0.15);
  padding: 2em 3em;
  margin: auto;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 17%, rgba(41,184,229,1) 84%, rgba(41,184,229,1) 100%);
  box-shadow: 20px 20px 50px rgb(255, 255, 255), -20px -20px 50px #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 5em;
  border-left: 2px solid black;
  border-right: 2px solid black;
    h4{
      display: flex;
      justify-content:center;
      border-bottom: 1px solid black;
    }
    input {
      display: block;
      margin: 2rem 0;
      width: 100%;
      border-radius: 0.5rem;
      padding: 1rem;
      border: none;
      box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
      border: 0 none;
      background: #fff4f4;
    }
    button {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.30em;
      color: #ffffff;
      background-color: rgb(17, 76, 95);
      width: 100%;
      display: block;
      padding: 0.8em 1em;
      border-radius: 1em;
      box-shadow: 3px 3px 20px #ffffff, -3px -3px 8px #ffffff;
    }
}





