<div class="container-fluid">
  <div class="box" *ngFor="let item  of documento" >
    <div class="head">
      <h4> {{item.Nombre | uppercase}} </h4>
      <button  (click)="openPopup(item)">Ver Documento</button>
    <img src="../{{item.imagen}}" alt="AQUI VA LA IMG">
      <div class="body">
        <div [innerHTML]="item.Body"></div>
      </div>

        <div class="box-1">
          <a href="{{item.Link}}">{{item.Link}}</a>
          <br>
          <a href="{{item.Referencia}}">{{item.Referencia}}</a>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': item === activeTema ? 'block' : 'none'}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{item.Nombre | uppercase}}</h4>
            <button type="button" class="btn btn-close" (click)="closePopup()"></button>
          </div>
          <div class="modal-body">
            <div [innerHTML]="item.Body"></div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closePopup()"> Close </button>
          </div>
        </div>
      </div>
    </div>


</div>
