.container-fluid{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: scroll ;
  max-height: 100%;
  max-width: 100%;
}


.container-fluid::-webkit-scrollbar{
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

.container-fluid::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 4px;
}

.container-fluid::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


.container-fluid::-webkit-scrollbar-thumb:active{
  background-color: #999999;

}

.container-fluid::-webkit-scrollbar-track:hover,
.container-fluid::-webkit-scrollbar-track:active {
background: transparent;
}



.box{
  border: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 1.5em;
  border-radius: 1em;
  box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.75);
  display: grid;
  grid-template-areas:
     "head head head"
     "img body box";

  .head{
    grid-area: head;
    display: flex;
    justify-content: space-between;

    h4{
      margin: 0.5em 1em 1em 2em;
    }
    button{
      font-size: 0.8em;
      max-height: 3em;
      min-width: 10em ;
      margin: 1em 1.5em 1em 1.5em ;
      border-radius:10px;
      border: 1px double black;
      transition: all 0.2s ease-in-out;
      color: rgb(167, 33, 33);

      &:hover{
          background-color: rgba(255, 255, 255, 0.301);
          color: rgb(43, 146, 83);
      }
    }

  }
  img{
    grid-area: img;
    max-width: 10em;
    max-height: 10em;
    margin: 1em 2em 1em 2em;
    border: 3px dashed black;
    border-radius: 20px 0px 20px 0px;
  }
    .body{
        max-width: 60em;
        grid-area: body;
        border: 2px solid black;
        border-radius: 10px;
        height: 20em;
        overflow-y:scroll;
        margin: 1em 0em 1.5em 0em;
        padding: 0em 1.5em 0em 1.5em;

        p{
          text-align: justify;
        }

      }
      .body::-webkit-scrollbar{
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
      }

      .body::-webkit-scrollbar-thumb{
        background: #ccc;
        border-radius: 4px;
      }

      .body::-webkit-scrollbar-thumb:hover{
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      }


      .body::-webkit-scrollbar-thumb:active{
        background-color: #999999;

      }

      .body::-webkit-scrollbar-track:hover,
      .body::-webkit-scrollbar-track:active {
      background: transparent;
      }

      .box-1{
        grid-area: box;
        display: flex;
        margin-top:1.5em ;
        flex-wrap: wrap;
        max-width:15em ;
        max-height: 12em;

        a{
            padding: 0em 0.5em 0em 0.5em;

        }

      }


}


  .modal-content{
    min-width: 40vw;
    max-width: 100%;
   .modal-header{
     display: grid;
      grid-template-areas:
      "- titulo boton";
     h4{
      grid-area: titulo;

     }
     button{
      grid-area: boton;
     }
   }
   .modal-body{
     text-align: justify;
     p{
       padding: 1.5em;
       font: small-caps 100%/150% serif;
     }
   }

 }


