.active-link{
  border: 2px solid white !important;
}

.admin-layout {
  display: grid;


  .left-nav {
      height: 55em;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      max-height: 55em;
      border-radius :0px 15px 15px 0px;
      // for brand name
      .brand{
          h2{
              color: white;
              text-align: center;
          }
          margin-left: 10%;

          margin-top: 2em;
      }
      // for search input field
      .search {
          margin-left: 10%;
          margin-right: 10%;
          display: grid;
          grid-template-columns: 90% 10%;
          align-items: center;
          background-color: rgb(50, 49, 49);
          margin-top: 2rem;
          border-radius: 20px;
          input{
              border-radius: 20px;
              padding: 8px;
              background-color: rgb(50, 49, 49);
              outline: rgb(97, 92, 92);
          }
      }
      // for let nav item
      ol{
          list-style: none;
          margin-left: 10%;
          margin-right: 10%;
          li {
              padding: 10px;
              transition: all 0.2s ease-in-out;
              border: 2px solid rgb(19, 19, 19);
              border-radius: 10px;
              margin-top: 10px;
              cursor: pointer;
              .left-nav-list-item{
                  display: grid;
                  grid-template-columns: 35% 70%;
                  align-items: center;
              }
              &:hover{
                  border: 2px solid white;
                  box-shadow: 4px 4px 20px rgb(153, 147, 147);
              }
          }

      }
  }
  .content {

      .main-content-nav{
          padding: 10px;
          background-color: rgb(0, 0, 0);
          button {

              padding: 6px 10px 6px 10px;
              border: 1px solid rgb(0, 0, 0);
              border-radius: 10px;
              transition: all 0.2s ease-in-out;
              width: 4rem;
              color: rgb(167, 33, 33);
              background-color: black;
              &:hover{
                  background-color: rgb(255, 254, 254);
                  color: rgb(43, 146, 83);
              }
          }

      }
  }



}
