.active-link{
  border: 2px solid rgb(0, 255, 85) !important;
}

.admin-layout {
  display: grid;


  .left-nav {
      height: 55em;
      background: #114c5f99;
      color: rgb(255, 255, 255);
      max-height: 55em;
      border-radius :0px 15px 15px 0px;
      .brand{
          h2{
              color: rgb(255, 255, 255);
              text-align: center;
          }
          margin-left: 10%;

          margin-top: 2em;
      }
      .search {
          margin-left: 10%;
          margin-right: 10%;
          display: grid;
          grid-template-columns: 90% 10%;
          align-items: center;

          margin-top: 2rem;
          border-radius: 20px;
          input{
              border-radius: 20px;
              padding: 8px;
              background-color: rgba(255, 255, 255, 0.603);
              outline: rgb(255, 255, 255);
          }
      }
      ol{
          list-style: none;
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 15%;
          li {
              padding: 10px;
              transition: all 0.2s ease-in-out;
              border: 2px solid rgb(19, 19, 19);
              border-radius: 10px;
              margin-top: 0.8em;
              cursor: pointer;
              .left-nav-list-item{
                  display: grid;
                  grid-template-columns: 20% 70%;
                  align-items: center;
              }
              &:hover{
                  border: 2px solid rgb(0, 0, 0);
                  box-shadow: 4px 4px 20px rgb(153, 147, 147);
              }
          }

      }
  }
  .content {

      .main-content-nav{
          padding: 10px;
          button {

              padding: 6px 10px 6px 10px;
              border: 1px solid rgb(0, 0, 0);
              border-radius: 10px;
              transition: all 0.2s ease-in-out;
              width: 4rem;
              color: rgb(167, 33, 33);
              background: linear-gradient(to left, rgba(156,210,211,1) 0%, rgba(242,230,207,0.96) 100%, rgba(242,230,207,0.9) 10%);
              &:hover{
                  background-color: rgb(255, 254, 254);
                  color: rgb(43, 146, 83);
              }
          }

      }
  }



}
