
  <div class="admin-layout" [ngStyle]="{'grid-template-columns':showLeftNav?'100%':'50%'}">

  <nav class="left-nav">

    <div class="content">
      <div class="main-content-nav">
        <button (click)="showAndHideLeftNav()">
          <fa-icon [icon]="faHamburger"></fa-icon>
        </button>
      </div>
  </div>

    <div class="brand">
      <h2 [ngStyle]="{'font-size':showLeftNav?'30px':'15px'}">
        Navegador
      </h2>
    </div>
    <ol class="box">
      <li class="lista" [ngStyle]="{'max-width':showLeftNav?'100%':'2.8em'}" *ngFor="let item of left_nav_lis_item;let i=index;" [routerLink]="item.url" routerLinkActive="active-link">
        <div class="left-nav-list-item">
          <fa-icon [icon]="item.icon"></fa-icon>
          <span *ngIf="showLeftNav">
            {{item.title}}
          </span>
        </div>
      </li>
    </ol>


  </nav>
</div>

