
.head{
  grid-area: head;
  display: flex;
  align-items: center;
  max-width: 100%;
  border-bottom: 5px double black;
  h2{
    margin: 1em 1em 0.5em 1em;
    font-family: Times New Roman, arial 

  }
  i{
    font-size: 3em;
    margin: 0.3em;
    cursor:pointer;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  i:hover{
    color: rgba(41, 185, 229, 0.503);

  }

}




.body{

  grid-area: body;
  overflow: scroll;
  max-height: 35vw;
  .lista{

    display: flex;
    flex-direction: column;
    .box-1 {
      padding: 0.5em;
      margin-bottom: 0.5em;
      margin-top: 0.5em;

      .box{
        border: 1px solid black;
        border-radius: 5px;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
          padding: 1em;
        }
        .btns{
          display: flex;
          flex-direction: column;
          #eliminar{
            margin: 0.5em 1em 0.5em 1em;
            background-color: rgba(41, 185, 229, 0.404);
          }
          #eliminar:hover{
            background-color: rgba(255, 0, 0, 0.404)
          }
          .btn{
            margin: 0.5em 1em 0.5em 1em;
            background-color: rgba(41, 185, 229, 0.404);

          }
          .btn:hover{
            background-color: rgb(41, 185, 229);
          }

        }
      }
      .box:hover{
        background:rgba(205, 224, 225, 0.712);
      }
    }


  }

}


.body::-webkit-scrollbar{
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

.body::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 4px;
}

.body::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


.body::-webkit-scrollbar-thumb:active{
  background-color: #999999;

}

.body::-webkit-scrollbar-track:hover,
.body::-webkit-scrollbar-track:active {
background: transparent;
}


