
<div class="container-fluid">

  <div class="box-1">

    <div class="head">
      <img src="/assets/prueba.png" alt="AQUI VA LA IMG">

    </div>
    <ul *ngIf="item!== '' ">
      <li class="name">
      <h4 class="Nombre"> {{item.Nombre}} </h4>
      <h4 class="Apellido" > {{item.Apellido}} </h4>
      </li>
      <li>
        <h5>Carrera</h5>
        <p>{{item.Carrera}}</p>
        </li>
      <li>
        <h5>Universidad</h5>
        <p>{{item.Universidad}}</p>
      </li>
      <li>
        <h5>Especialidad</h5>
        <p>{{item.Especialidad}}</p>
      </li>
      <li>
        <h5>Investigación</h5>
        <p >
          {{item.Investigacion}}
        </p>

    </ul>

  </div>
      <div class="box-scroll" >
        <div class="box" *ngFor="let item of lista"> 
          <div class="head">
            <img src="/assets/prueba.png" alt="AQUI VA LA IMG">
            <h4 class="Nombre"> {{item.Nombre}} </h4>
            <h4 class="Apellido">{{item.Apellido}}</h4>

          </div>
          <ul class="body">

            <li>
              <p> {{item.Carrera}}</p>
            <li>
            <li>
              <p>{{item.Universidad}}</p>

            </li>
            <li>
              <p>{{item.Especialidad}}</p>
            </li>

          </ul>
          <p class="btn" (click)="EnvioDatos(item)">↑</p> <!--debe mostrar los elementos por array desde ts-->
        </div>










</div>

</div>
