
.head{

  h2{
    margin: 1em 1em 0.5em 1em;
    font-family: Times New Roman, arial


  }
  select{
    max-width: 50em;
    appearance: none;
    margin: 2em;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 3em;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    font-size: 1em;
    color: #000000;
    border:2px solid rgba(255, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
    transition: all 0.25s ease;
  }
  select:hover{
    background:rgba(177, 234, 236, 0.712);
  }
}

.body{
  font-family: Times New Roman, arial;
  display:flex;
  justify-content: space-around;
  max-width: 100%;

      /* elementos derecha*/
      .element_left{

      width: 600px;
      height: 500px;
      overflow-y: scroll ;
      li{
      margin: 0.7em;
      list-style-type: none;
      padding: 4%;
      border-radius: 20px;
      border: 1px solid #0799b6;
      background-color: #b1eaeca1;
      box-shadow:
      inset 10px 10px 15px 0px rgba(7,153,182,0.5),
      0 0 0 2px rgb(214, 226, 222);


      }
    }
    /* ESTILOS DE SCROLL*/

    .element_left::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    }

    .element_left::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
    }

    .element_left::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }


    .element_left::-webkit-scrollbar-thumb:active{
    background-color: #999999;

    }

    .element_left::-webkit-scrollbar-track:hover,
    .element_left::-webkit-scrollbar-track:active {
    background: transparent;
    }
    /* elementos izquierda*/
    .element_right{
      width: 600px;
      height: 500px;
      overflow-y: scroll ;

    }
    .element_right li{
      margin: 0.7em;
      list-style-type: none;
      padding: 4%;
      border-radius: 20px;
      border: 1px solid #0799b6;
      background-color: #b1eaeca1;
      box-shadow:
      inset 10px 10px 15px 0px rgba(7,153,182,0.5),
      0 0 0 2px rgb(214, 226, 222);
    }



    /* ESTILOS DE SCROLL*/

    .element_right::-webkit-scrollbar{
      width: 8px;     /* Tamaño del scroll en vertical */
      height: 8px;    /* Tamaño del scroll en horizontal */
    }

    .element_right::-webkit-scrollbar-thumb{
      background: #ccc;
      border-radius: 4px;
    }

    .element_right::-webkit-scrollbar-thumb:hover{
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }


    .element_right::-webkit-scrollbar-thumb:active{
      background-color: #999999;

    }

    .element_right::-webkit-scrollbar-track:hover,
    .element_right::-webkit-scrollbar-track:active {
    background: transparent;
    }


}



#botones{
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  margin-right: 15%;
}
#botones .btn{
  margin: 2%;
  color:#000000;
}


