<div class="container-fluid">
  <div class="head">
    <h2>
      Gestión Administrador
    </h2>
    <select id="menuSelect" onchange="cambiarContenido()">
      <option value="1">Temas</option>
      <option value="2">Subtemas</option>
      <option value="3">Codigos</option>
      <option value="4">Documentación</option>
      <option value="5">Programación</option>
      <option value="6">Encargados</option>
    </select>

  </div>

  <div class="body">

     <div class="element_left"> <!--aqui ira la muestre de los elementos de trabajo primarios una vez seleccionados en el selector-->
        <ul>
          <li></li>

        </ul>
      </div>
  </div>
  <div id="botones">
    <button type="button" class="btn btn-success" routerLink="/Add">Agregar</button>
    <button type="button" class="btn btn-danger">Eliminar</button> <!--HAY QUE AGREGAR UN ALERTA DE ¿ESTAS SEGURO?-->
    <button type="button" class="btn btn-info">Modificar</button>
    </div>

</div>


