<div class="container-fluid">
  <div class="head">
    <h2>
      Gestión Administrador
    </h2>
    <form onLoad="myOnLoad()">
      <select class="form-select" name="elementos" (change)="onOptionChange($event)">
        <option value="0">Seleccionar elemento</option>
      </select>
    </form>
    <button type="button" class="btn btn-success" routerLink="/Add">Agregar</button>
  </div>

    <div class="body">


      <div class="input-group mb-3" *ngIf=" mostrarTemas ">
        <div class="box-1" *ngFor="let item of temasAll" >
          <div class="box">
            <p >
              {{item.idTema}} - {{item.Nombre}}
              <br> <br>
              <button class="btn btn-subtema" [routerLink]="['/Admin/SubtemaUD/', item.idTema]">Ver Subtemas</button>
            </p>

            <div class="btns">
              <button type="button" id="eliminar" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + item.idTema" >Eliminar</button>
              <button type="button" class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalModificarTema' + item.idTema">Modificar</button>
            </div>

          </div>

          <div class="modal fade" [id]="'exampleModalModificarTema' + item.idTema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modificando {{item.Nombre}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form #Temaform="ngForm">
                    <div class="input-group mb-3">
                      <span  class="input-group-text mb-3">Titulo</span>
                      <input [(ngModel)]="item.Nombre" name="Nombre" type="text" aria-label="name" id="input-styles">
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" (click)="PutTema(item.idTema, Temaform)" data-bs-dismiss="modal">Modificar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" [id]="'exampleModal' + item.idTema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirmación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>¿Estás seguro de borrar el Tema {{item.Nombre}}?</p>
                  <p>SE ELIMINARAN TODOS LOS 𝐒𝐔𝐁𝐓𝐄𝐌𝐀𝐒 RELACIONADOS</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" (click)="deletetema(item.idTema)" data-bs-dismiss="modal">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="input-group mb-3" *ngIf=" mostrarCodigos ">
      <div class="box-1" *ngFor="let item of codigosAll" > <!-- el for debe recorrer cada arreglo de la tabla .. tabla codigos for codigos etc-->
        <div class="box">
          <p>{{item.Nombre}}
            <br> <br>
              {{item.Body}}
          </p>
          <div class="btns">
            <button type="button" id="eliminar" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + item.idCodigos" >Eliminar</button>
            <button type="button" class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalModificarCodigos' + item.idCodigos">Modificar</button>
          </div>
        </div>
        <div class="modal fade" [id]="'exampleModalModificarCodigos' + item.idCodigos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modificando {{item.Nombre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form #Codigoform="ngForm">
                  <div class="input-group mb-3">
                    <span  class="input-group-text mb-3">Titulo</span>
                    <input [(ngModel)]="item.Nombre" name="Nombre" type="text" aria-label="name" id="input-styles">
                  </div>

                  <div >
                    <span  class="input-group mb-3" >Cuerpo</span>
                    <textarea [(ngModel)]="item.Body" class="form-control mb-3" id="exampleFormControlTextarea1" rows="5"  name="Body">{{item.Body}}</textarea>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="link">Link</span>
                    <input [(ngModel)]="item.Link" name="Link" type="text" class="input-styles" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" >
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="Referencias">Referencias</span>
                    <input [(ngModel)]="item.Referencia"name="Referencia" type="text" class="input-styles" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="PutCodigo(item.idCodigos, Codigoform)" data-bs-dismiss="modal">Modificar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" [id]="'exampleModal' + item.idCodigos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de borrar el Codigo {{item.Nombre}}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteCodigo(item.idCodigos)" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group mb-3" *ngIf=" mostrarPublicacion ">
      <div class="box-1" *ngFor="let item of publiAll" >
        <div class="box">
          <p>{{item.Nombre}}
            <br> <br>
              {{item.Autor}}
          </p>
          <div class="btns">
            <button type="button" id="eliminar" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + item.idPublicacion" >Eliminar</button> <!--HAY QUE AGREGAR UN ALERTA DE ¿ESTAS SEGURO? en el evento Onclic-->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalModificarPublicacion' + item.idPublicacion">Modificar</button>
          </div>
        </div>
        <div class="modal fade" [id]="'exampleModalModificarPublicacion' + item.idPublicacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modificando {{item.Nombre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form #Publiform="ngForm">
                  <div class="input-group mb-3">
                    <span  class="input-group-text mb-3">Titulo</span>
                    <input [(ngModel)]="item.Nombre" name="Nombre" type="text" aria-label="name" id="input-styles">
                  </div>

                  <div class="input-group mb-3">
                    <span  class="input-group-text" >Autor</span>
                    <input [(ngModel)]="item.Autor"  type="text" aria-label="name" name="Autor" class="input-styles"  placeholder="Nombre">
                  </div>

                  <div class="input-group mb-3" >
                    <span  class="input-group-text"  for="Fecha">Fecha</span>
                    <input [(ngModel)]="item.Fecha" type="number" aria-label="name" name="Fecha" class="input-styles">
                  </div>
                  <div >
                    <span  class="input-group mb-3" >Cuerpo</span>
                    <textarea [(ngModel)]="item.Body" class="form-control mb-3" id="exampleFormControlTextarea1" rows="5"  name="Body">{{item.Body}}</textarea>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="link">Link</span>
                    <input [(ngModel)]="item.Link" name="Link" type="text" class="input-styles" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" >
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="Referencias">Referencias</span>
                    <input [(ngModel)]="item.Referencia"name="Referencia" type="text" class="input-styles" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="PutPublicacion(item.idPublicacion, Publiform)" data-bs-dismiss="modal">Modificar</button>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" [id]="'exampleModal' + item.idPublicacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de borrar el Codigo {{item.Nombre}}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deletePubli(item.idPublicacion)" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group mb-3" *ngIf=" mostrarProgramacion ">
      <div class="box-1" *ngFor="let item of programacionAll" >
        <div class="box">
          <p>
            {{item.Nombre}}
          </p>
          <div class="btns">
            <button type="button"  id="eliminar"class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + item.idProgramacion" >Eliminar</button>
            <button type="button" class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalModificarProgramacion' + item.idProgramacion">Modificar</button>
          </div>
        </div>

        <div class="modal fade" [id]="'exampleModalModificarProgramacion' + item.idProgramacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modificando {{item.Nombre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form #Prograform="ngForm">
                  <div class="input-group mb-3">
                    <span  class="input-group-text mb-3">Titulo</span>
                    <input [(ngModel)]="item.Nombre" name="Nombre" type="text" aria-label="name" id="input-styles">
                  </div>

                  <div >
                    <span  class="input-group mb-3" >Cuerpo</span>
                    <textarea [(ngModel)]="item.Body" class="form-control mb-3" id="exampleFormControlTextarea1" rows="5"  name="Body">{{item.Body}}</textarea>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="link">Link</span>
                    <input [(ngModel)]="item.Link" name="Link" type="text" class="input-styles" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" >
                  </div>

                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="PutProgramacion(item.idProgramacion, Prograform)" data-bs-dismiss="modal">Modificar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" [id]="'exampleModal' + item.idProgramacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de borrar la seccion de Programación {{item.Nombre}}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteProgra(item.idProgramacion)" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group mb-3" *ngIf=" mostrarDocumentacion ">
      <div class="box-1" *ngFor="let item of documentosAll" >
        <div class="box">
          <p>
            {{item.Nombre}}
          </p>
          <div class="btns">
            <button type="button"  id="eliminar"class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + item.idDocumentacion" >Eliminar</button>
            <button type="button" class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalModificarDocumento' + item.idDocumentacion">Modificar</button>
          </div>
        </div>
        <div class="modal fade" [id]="'exampleModalModificarDocumento' + item.idDocumentacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modificando {{item.Nombre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form #Documentacionform="ngForm">
                  <div class="input-group mb-3">
                    <span  class="input-group-text mb-3">Titulo</span>
                    <input [(ngModel)]="item.Nombre" name="Nombre" type="text" aria-label="name" id="input-styles">
                  </div>

                  <div >
                    <span  class="input-group mb-3" >Cuerpo</span>
                    <textarea [(ngModel)]="item.Body" class="form-control mb-3" id="exampleFormControlTextarea1" rows="5"  name="Body">{{item.Body}}</textarea>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="link">Link</span>
                    <input [(ngModel)]="item.Link" name="Link" type="text" class="input-styles" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" >
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="Referencias">Referencias</span>
                    <input [(ngModel)]="item.Referencia"name="Referencia" type="text" class="input-styles" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="PutDocumentacion(item.idDocumentacion, Documentacionform)" data-bs-dismiss="modal">Modificar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" [id]="'exampleModal' + item.idDocumentacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de borrar la seccion de Documentación {{item.Nombre}}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteDocumento(item.idDocumentacion)" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group mb-3" *ngIf=" mostrarEncargados ">
      <div class="box-1"  *ngFor="let item of encargadosAll" >
        <div class="box">
          <p>{{item.Nombre}} {{item.Apellido}}
            <br> <br>
              {{item.Carrera}}
            <br> <br>
              {{item.Universidad}}
            <br> <br>
              {{item.Investigacion}}

          </p>
          <div class="btns">
            <button type="button" id="eliminar" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + item.idEncargado" >Eliminar</button>
            <button type="button" class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModalModificarEncargado' + item.idEncargado">Modificar</button>
          </div>

        </div>

        <div class="modal fade" [id]="'exampleModalModificarEncargado' + item.idEncargado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modificando {{item.Nombre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form #Encargadoform="ngForm">

                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" >Nombre</span>
                    <input [(ngModel)]="item.Nombre" name="Nombre" type="text" aria-label="name" class="input-style">
                    <span class="input-group-text mb-3">Apellido</span>
                    <input [(ngModel)]="item.Apellido" name="Apellido"  type="text" aria-label="apellido" class="input-style">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text mb-3" id="Carrera">Carrera</span>
                    <input [(ngModel)]="item.Carrera" name="Carrera" type="text" class="input-style" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="input-group mb-3" >
                    <span class="input-group-text mb-3" id="Especialidad">Especialidad</span>
                    <input [(ngModel)]="item.Especialidad" name="Especialidad" type="text" class="input-style" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="input-group mb-3" >
                    <span class="input-group-text mb-3" id="Investigación">Investigación</span>
                    <input [(ngModel)]="item.Investigacion" name="Investigacion" type="text" class="input-style" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="input-group mb-3" >
                    <span class="input-group-text mb-3" id="Universidad">Universidad</span>
                    <input [(ngModel)]="item.Universidad" name="Universidad" type="text" class="input-style" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="PutEncargados(item.idEncargado, Encargadoform)" data-bs-dismiss="modal">Modificar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" [id]="'exampleModal' + item.idEncargado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de borrar al encargado {{item.Nombre}}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteEncargado(item.idEncargado)" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    </div>



</div>


