<div class="container-fluid">
  <div class="box" *ngFor="let item of subtemas">
    <div class="head">

      <img src="/assets/prueba.png" alt="Imagen Referencial de prueba">

      <div class="titulo">
        <h4 > {{item.Nombre}} </h4>
      </div>
    </div>
    <ul>
      <li class="body">
        <p >
          {{item.Body}}
        </p>

        </li>

      <li class="link" >

          <a href="">{{item.Link}}</a>
          <a href="">{{item.Referencia}}</a>
          
      </li>
    </ul>
  </div>



</div>
