*{
  list-style: none;
}

.box{

  .head{
    display: flex;

    .titulo{
      display: flex;
      margin: 1.5em;
      flex-direction: column;
      align-items: center;

      h4{
        border-bottom: 1px solid black;
        margin-top: 1em;

      }
      h5{
        margin-top: 1em;
        font-weight:400;
      }
    }

  

  }
  ul{

    .body{
      border: 1px solid black;
      border-radius: 15px;
      padding: 1em 2em 1em 2em;
      max-width: 100%;
      max-height:22vw;
      overflow-y: scroll;
      text-align: justify;
    }
    .body::-webkit-scrollbar{
      width: 8px;     /* Tamaño del scroll en vertical */
      height: 8px;    /* Tamaño del scroll en horizontal */
    }

    .body::-webkit-scrollbar-thumb{
      background: #ccc;
      border-radius: 4px;
    }

    .body::-webkit-scrollbar-thumb:hover{
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }


    .body::-webkit-scrollbar-thumb:active{
      background-color: #999999;

    }

    .body::-webkit-scrollbar-track:hover,
    .body::-webkit-scrollbar-track:active {
    background: transparent;
    }
    .link{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1.5em;
      flex-wrap: wrap;
      max-height:8vw;
      a{
        margin-top: 1em;
      }
    }

  }


}
